<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src = "https://img.pngio.com/sad-puppy-transparent-background-image-sad-puppy-png-350_300.png" />
<h1>What did you do? Something went wrong...</h1>
</body>
</html>