<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css" type="text/css">
    <link rel="stylesheet" href="/styles/base.css" type="text/css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/modules.css" type="text/css">
    
    <title>Boooks</title>
</head>
<body class="flex-container">
    <h1 class="flex-item">Saved Books: <%= rowCount %> </h1>
    <a href="/search">Search</a>
    <div class="bookResult flex-container">
        <% books.forEach( book => { %>
          <div class="flex-item">
            <%- include('./books/detail', { book: book } ) %>
            <a href="/books/<%= book.id %>">View Details</a>
          </div>
        <% }) %>
    </div>
</body>
</html>