@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Special+Elite&display=swap');

body {
    width: 80%;
    margin: auto;
    background-color: #EBE9EB;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
}

input {
    padding: 0px;
    border: none;
    font-size: 30px;
}

h1 , h2, button{
    text-align: center;
    font-family: 'Special Elite', cursive;
    margin: 2%;
    font-size: 30px;
}

h4 {
    font-family: 'Special Elite', cursive;
}

input[type=radio] {
    border: 0px;
    width: 5%;
    height: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

section {
    width: 100%;
    margin-bottom: 10%;
}

textarea {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
}