@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel&display=swap');

html {
  background-color: #F4f1DE;
  text-align: center;
}

h3 {
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-family: 'Cinzel', serif;
}