fieldset {
  width: 100%;
  background-color: #F0EFF4;
  border-radius: 7px;;
  margin: 2%;
  line-height: 75px;
  padding-left: 2%;
  box-sizing: border-box;
}

fieldset > input {
  background-color: #F0EFF4;
}

button {
    width: 100%;
    background-color: #40798C;
    border-radius: 7px;;
    line-height: 75px;
    margin: 2%;
}

img, h5, h4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

div > div{
  background-color: #FFFFFF;
  margin-top: 4%;
  box-shadow: 0 0 10px #6d6c6c;
  padding-top: 5%;
  padding-bottom: 5%;
}
